<h2>Proceso Administrativo</h2>
  <p>Es una herramienta que permite a las empresas de cualquier industria alcanzar sus objetivos. Se trata de un conjunto de etapas diseñadas para gestionar de la mejor manera todos los recursos internos que posee una compañía o una organización social y que incluyen desde el aspecto financiero y tecnológico, hasta el capital humano. El objetivo final de todo procedimiento administrativo es que una tarea dentro de una empresa pueda completarse con la mejor calidad, eficacia y en el menor tiempo posible.</p>
  <br>

      <%= link_to 'Index', root_path %>