 <h2>Eficiencia</h2>
  <p>La eficiencia se refiere a la capacidad de realizar una tarea, actividad o proceso de manera óptima, minimizando el uso de recursos como tiempo, dinero, energía o materiales. En términos más simples, la eficiencia se trata de hacer las cosas de la manera más económica y efectiva posible, logrando resultados satisfactorios con la menor cantidad de recursos desperdiciados.</p>
  <br>
        <%= link_to 'Index', root_path %>