<!DOCTYPE html>
<html>
<head>
  <title>Hola Mundo</title>
  <link rel="stylesheet" href="dashboard.css">
</head>
<body>
   <h1>Parcial 1</h1>

  <div class="sidebar" style="display: none;">
    <ul>
      <li onclick="hideSidebar()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
      <li><a href="/administracion">Administraci贸n</a></li>
      <li><a href="/administracion_proyectos">Administraci贸n de Proyectos</a></li>
      <li><a href="/negociacion">Negociaci贸n</a></li>
      <li><a href="/proceso_administrativo">Proceso Administrativo</a></li>
      <li><a href="/manipulacion">Manipulaci贸n</a></li>
      <li><a href="/eficacia">Eficacia</a></li>
      <li><a href="/eficiencia">Eficiencia</a></li>
      <li><a href="/riesgo_proyectos">Riesgos en Proyectos</a></li>
      <li><a href="https://ed03e2.atlassian.net/" target="_blank">Jira</a></li>
      <li><a href="/alumno">Alumnos</a></li>
    </ul>
  </div>

  <button class="menu-button" onclick="showSidebar()">
    <svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M280-600v-80h560v80H280Zm0 160v-80h560v80H280Zm0 160v-80h560v80H280ZM160-600q-17 0-28.5-11.5T120-640q0-17 11.5-28.5T160-680q17 0 28.5 11.5T200-640q0 17-11.5 28.5T160-600Zm0 160q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520q17 0 28.5 11.5T200-480q0 17-11.5 28.5T160-440Zm0 160q-17 0-28.5-11.5T120-320q0-17 11.5-28.5T160-360q17 0 28.5 11.5T200-320q0 17-11.5 28.5T160-280Z"/></svg>
  </button>

  <script>
    function showSidebar(){
      const sidebar = document.querySelector('.sidebar');
      const menuButton = document.querySelector('.menu-button');
      sidebar.style.display = 'flex';
      menuButton.classList.add('hide');
    }

    function hideSidebar(){
      const sidebar = document.querySelector('.sidebar');
      const menuButton = document.querySelector('.menu-button');
      sidebar.style.display = 'none';
      menuButton.classList.remove('hide');
    }
  </script>

  <img src="project.jpg" class="small-image" alt="Project Image">

</body>
</html>
