<!DOCTYPE html>
<html>
<head>
  <title>Administración de Proyectos</title>
  <%= stylesheet_link_tag 'riesgo', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h2>Administración de Proyectos</h2>
  <p>1.- La administración de proyectos es una disciplina que aplica conocimientos, habilidades, herramientas y técnicas para planificar, ejecutar y controlar actividades a fin de cumplir con los requisitos específicos de un proyecto. Esto incluye la gestión de tiempo, costo, calidad, alcance, recursos humanos, comunicación, riesgos y adquisiciones, con el objetivo de lograr las metas y objetivos del proyecto de manera efectiva y eficiente.</p>
  <p>2.- La administración de proyectos es el proceso de guiar un proyecto desde su inicio hasta su finalización, asegurando que se completen todas las etapas, como la iniciación, planificación, ejecución, monitoreo y control, y cierre. Este proceso implica la definición clara de los objetivos del proyecto, la creación de un plan detallado, la gestión de los recursos necesarios y la supervisión continua para asegurar que el proyecto se mantenga en el camino correcto y cumpla con las expectativas establecidas.</p>
  <br>
  <a href="<%= root_path %>">Index</a>
</body>
</html>
