 <h2>Eficacia</h2>
  <p>La eficacia se refiere a la capacidad de alcanzar los objetivos y metas establecidos de manera exitosa y satisfactoria. En el contexto de la administración y el rendimiento organizacional, la eficacia se relaciona con la capacidad de una empresa, equipo o individuo para lograr los resultados deseados y cumplir con las expectativas en términos de calidad, cantidad, tiempo y costo.</p>
<br>
        <%= link_to 'Index', root_path %>