<!DOCTYPE html>
<html>
<head>
  <title>Negociacion</title>
  <%= stylesheet_link_tag 'riesgo', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <h2>Negociacion</h2>
  <p>1.- La negociación es un proceso de comunicación entre dos o más partes con intereses, necesidades o deseos diferentes, con el objetivo de llegar a un acuerdo mutuamente beneficioso. Este proceso implica la discusión, el intercambio de propuestas y la concesión de compromisos para resolver conflictos o diferencias y alcanzar un resultado satisfactorio para todos los involucrados.</p>
  <p>2.- La negociación es una habilidad interpersonal que permite a las personas influir en los demás y lograr acuerdos a través del diálogo y la persuasión. Esta habilidad incluye la capacidad de escuchar activamente, comprender las perspectivas de las otras partes, identificar intereses comunes, y encontrar soluciones creativas que satisfagan las necesidades de todos los participantes.</p>
  <br>
  <a href="<%= root_path %>">Index</a>
</body>
</html>
