<h2> Administración </h2>
  <p>1.- La administración es el proceso de planificar, organizar, dirigir y controlar los recursos de una organización con el fin de alcanzar objetivos específicos de manera eficiente y eficaz. Este proceso implica la coordinación de personas, finanzas, materiales y tecnología para lograr las metas establecidas.</p>
  <p>2.- La administración es una disciplina académica y profesional que estudia y desarrolla teorías, principios y prácticas para mejorar la gestión de organizaciones. Esta disciplina abarca áreas como la administración de empresas, la administración pública, la administración de proyectos y la gestión de recursos humanos.</p>
  <p>3.- La administración es una función esencial en cualquier organización que implica la toma de decisiones estratégicas y operativas para asegurar el funcionamiento y crecimiento continuo de la entidad. Esta función incluye actividades como la formulación de políticas, la asignación de tareas, la supervisión de empleados y la evaluación del desempeño.</p>

  <%= link_to 'Index', root_path %>